{{!-- <div class="container">
    <div class="row text-center my-3">
        <h3 class="fw-bolder mb-0">Edit User</h3>
    </div>
</div>



<form id="" novalidate action="" method="POST">
    <div class="row mb-3">

        <div class="col-md-6">
            <div class="form-outline">
                <label class="form-label" for="firstname">First name</label>
                <input type="text" id="firstname" name="firstname" class="form-control" value="{{user.firstname}}"
                    placeholder="Firstname" required />
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <label class="form-label" for="lastname">Last name</label>
                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Lastname"
                    value="{{user.lastname}}" />
            </div>
        </div>
    </div>
    <div class="form-outline mb-3">
        <label class="form-label" for="email">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email"
            value="{{user.email}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
    </div>

    <div class="form-outline mb-3">
        <label class="form-label" for="mobile">Mobile</label>
        <input type="tel" id="mobile" name="mobile" class="form-control" pattern="^[6-9]\d{9}$" placeholder="Mobile no"
            value="" required />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
    </div>

    <div class="form-outline mb-3">
        <label class="form-label" for="repassword">Re enter Password</label>
        <input type="password" id="repassword" name="repassword" class="form-control" placeholder="Password" required />
    </div>

    <p id="pmm" class="d-none text-danger small">Password mismatch</p>
    <!-- Submit button -->
    <div class="col-md-3 mt-3">
        <button type="submit" class="btn btn-outline-danger btn-block btn-round">Continue</button>
    </div>
</form> --}}