<div class="container">
    <div class="row text-center mb-1">
        <h3 class="fw-bolder mb-0">Products</h3>
    </div>
</div>
<hr>
<div class="container">
    <div class="row justify-content-end mb-3">
        <a class="btn btn-success col-3 me-3" href="/admin/product/add"><i
                class="fa-solid fa-plus"></i>
            Add Product
        </a>
    </div>

    <div class="row">
        <table id="usersTable datatables" class="table mb-0">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="nr">1</th>
                    <td>Wooden Chair</td>
                    <td>2500</td>
                    <td>Chair</td>
                    <td>26</td>
                    <td>Lorem ipsum dolor sit amet.</td>


                    <td>
                        <a class="btn btn-primary btn-sm px-2" data-bs-toggle="modal" onclick="editCategory(this)"
                            category={{category}} objId={{_id}} data-bs-target="#editCategoryModal" href="#">
                            <i class="fa fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger btn-sm px-2"
                            onclick="return confirm('are you sure you want to delete {{category}}?')"
                            href="/admin/category/delete/{{_id}}"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>