<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand" href="#">
            <img class="img-fluid" width="107" src="/images/logo.png" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#!">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal"
                                href="#">Login</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form action="/user/login">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email1" placeholder="Your email address...">
                        </div>
                        <div class="my-3"></div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password1" placeholder="Your password...">
                        </div>
                        <div class="mb-3"></div>
                        <button type="submit" class="btn btn-outline-danger btn-block btn-round">Login</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="small signup-section">Not a member yet? <a href="#" data-bs-toggle="modal"
                        data-bs-target="#signUpModal" class="text-danger"> Sign Up</a>.</div>
            </div>
        </div>
    </div>
</div>

{{!-- Signup Modal --}}
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Signup</h4>
                </div>
                <div class="d-flex flex-column">
                    <form id="mobileForm" novalidate action="">
                        <div class="input-group mb-1">
                            <span class="input-group-text">+91</span>
                            <input type="tel" id="mobile" name="mobile" class="form-control" pattern="^[6-9]\d{9}$"
                                value="" required />
                        </div>
                        <label class="form-label" for="mobile">Mobile</label>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-danger btn-block btn-round">Continue</button>
                        </div>

                    </form>

                    <form class="d-none" id="otpForm" novalidate action="user/signup" method="POST">
                        <div class="">
                            <input type="tel" id="otpNum" name="mobile" class="form-control" value="" />
                            <label class="form-label" for="mobile">Mobile</label>
                        </div>
                        <div class="form-outline">
                            <input type="" id="otp" name="otp" class="form-control" pattern="^[0-9]{6}$" value=""
                                required />
                            <label class="form-label" for="otp">OTP</label>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-danger btn-block btn-round">Signup</button>
                        </div>

                    </form>
                    <script>
                        const mobileForm = document.querySelector('#mobileForm');
                        const otpForm = document.querySelector('#otpForm');
                        const otpNum = document.querySelector('#otpNum')
                        let url = window.location.origin
                        mobileForm.addEventListener('submit', e => {
                            let mobileNum = document.querySelector('#mobile').value
                            e.preventDefault();
                            if (!mobileForm.checkValidity()) {
                            } else {
                                mobileForm.classList.add('d-none')
                                otpForm.classList.remove('d-none')
                                $.ajax({
                                    url: `${url}/user/signup`,
                                    method: "POST",
                                    data: { mobile: mobileNum },
                                    success: res => {
                                        otpNum.value = res
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            }
                            mobileForm.classList.add('was-validated');
                        })

                        otpForm.addEventListener('submit', e => {
                            let otp = document.querySelector('#otp').value
                            e.preventDefault();
                            if (!mobileForm.checkValidity()) {
                            } else {
                                console.log(otp)
                                $.ajax({
                                    url: `${url}/user/verifyotp`,
                                    method: "POST",
                                    data: { mobile: otpNum.value, otp: otp },
                                    success: res => {
                                        if (res.valid) {
                                            alert(`Signup success ${res}`)
                                            window.location.reload()
                                        } else {
                                            alert("invalid OTP")
                                        }
                                    },
                                    error: err => {
                                        console.log(err)
                                    }
                                })
                            }
                            otpForm.classList.add('was-validated');
                        })


                    </script>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section small">Already member? <a href="#" data-bs-toggle="modal"
                        data-bs-target="#loginModal" class="text-info text-danger">Login</a>.</div>
            </div>
        </div>
    </div>
</div>