<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="/">
            <img class="img-fluid" width="107" src="/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse  navbar-collapse" id="navbarSupportedContent" style="font-size: 13px; font-weight: 600;">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto d-flex flex-row align-items-center">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="/user/cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="/user/wishlist">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>
                {{!-- Wallet strt here --}}
                {{#if isUserLoggedin}}
                <li class="nav-item dropdown">
                    <a class=" nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="getWalletData()">
                        <i class="fa-solid fa-wallet"></i>
                    </a>
                    <ul class="dropdown-menu pull-right p-3" style="width: 300px;" aria-labelledby="navbarDropdown">
                        <li class="d-flex justify-content-between text-dark">
                            <span>Balance</span>
                            <span class="balance">...</span>
                        </li>
                        <li>
                            <hr class="my-2">
                        </li>
                        <h5 class="fw-bold text-dark">Transactions</h5>
                        <div class="d-flex justify-content-between text-dark">
                            <span>Date</span>
                            <span>Amount</span>
                        </div>
                        <div class="transactions ">

                        </div>

                    </ul>

                </li>
                {{/if}}
                {{!-- Wallet End here --}}
                <li class="nav-item dropdown">
                    {{#if isUserLoggedin}}
                    <a class="green-circle nav-link dropdown-toggle d-flex align-items-center" href="#"
                        id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    {{else}}
                    <a class=" nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    {{/if}}
                    <ul class="dropdown-menu pull-right" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {{#if isUserLoggedin}}
                        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        {{else}}
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal"
                                href="#">Login</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
{{!-- Login modal --}}
{{> userLogin}}

{{#if showLogin }}
<script>
    $(document).ready(function () {
        $('#loginModal').modal('show');
    })
</script>
{{/if}}

<script>
    function getWalletData() {
        console.log('clicked')
        $.ajax({
            url: '/user/wallet',
            method: 'GET',
            success: res => {
                console.log(res)
                let balance = res.balance || '000'
                $('.balance').text(`₹ ${balance}`)
                let html = ''
                $(res.transactions).each((i, t) => {
                    let date = new Date(t.date)
                    date = date.toLocaleDateString()
                    html += `<div class="d-flex justify-content-between">
                                <span>${date}</span>
                                ${t.amount < 0 ? '<span>- ₹ ' + t.amount * -1 + '</span>' : '<span>+ ₹ ' + t.amount + '</span>'}
                            </div>`
                })

                $('.transactions').html(html)
                console.log(html)
            },
            error: err => {
                console.log(err)
            }
        })
    }
</script>

{{!-- Signup Modal --}}
{{> userSignup}}