<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Login</h4>
                </div>
                <div id="loginMsg">
                </div>
                <div class="d-flex flex-column">
                    <form id="loginWithPassword" novalidate action="/user/signup" method="POST">
                        <div class="form-outline mb-3">
                            <label class="form-label" for="loginEmail">Email address</label>
                            <input type="email" id="loginEmail" name="email" class="form-control" placeholder="Email"
                                value="{{error.data.email}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                required />
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label class="form-label" for="loginPassword">Password</label>
                            <input type="password" id="loginPassword" name="password" class="form-control"
                                placeholder="Password" required />
                        </div>
                        <!--Submit button -->
                        <div class="col-md-3 mt-3">
                            <button type="submit" class="btn btn-outline-danger btn-block btn-round">Login</button>
                        </div>
                    </form>
                    <script>
                        const loginWithPasswordForm = document.querySelector('#loginWithPassword')
                        const loginMsg = document.querySelector('#loginMsg')
                        var url = window.location.origin
                        loginWithPasswordForm.addEventListener('submit', e => {
                            e.preventDefault()
                            const loginEmail = document.querySelector('#loginEmail').value
                            const loginPassword = document.querySelector('#loginPassword').value
                            if (!loginWithPasswordForm.checkValidity()) {
                            } else {
                                $.ajax({
                                    url: `${url}/user/login`,
                                    method: "POST",
                                    data: { email: loginEmail, password: loginPassword },
                                    success: res => {
                                        if (res.responseText == "blocked") {
                                            loginMsg.innerHTML = `<p class="text-danger my-0">You are blocked<p>`
                                        } else {
                                            window.location.reload()
                                        }
                                    },
                                    error: err => {
                                        loginMsg.innerHTML = `<p class="text-danger my-0">${err.responseText}<p>`
                                    }
                                })
                            }
                            loginWithPasswordForm.classList.add('was-validated');
                        })
                    </script>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="small signup-section">Not a member yet? <a href="#" data-bs-toggle="modal"
                        data-bs-target="#signUpModal" class="text-danger"> Sign Up</a>.</div>
                <div class="small">Forgot <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal"
                        class="text-danger">Password</a>.</div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Forgot password</h4>
                </div>
                <div class="d-flex flex-column text-left">
                    {{!-- Form to enter mobile number for login --}}
                    <form id="forgotPasswordForm" action="" novalidate>
                        <div class="form-outline mb-3">
                            <label class="form-label" for="forgotPasswordEmail">Email address</label>
                            <input type="email" id="forgotPasswordEmail" name="email" class="form-control"
                                placeholder="Email" value="{{error.data.email}}"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                        </div>
                        <div class="row text-danger m-0 p-0 ps-3" id="forgotPasswordMsg">
                        </div>
                        <div class="mb-3"></div>
                        <button type="submit" class="btn btn-outline-danger btn-block btn-round">Continue</button>
                    </form>
                    <form class="d-none" id="forgotPaswordOTPForm" action="user/login" novalidate>
                        <div class="form-group">
                            <input type="email" class="form-control" id="emailforOTPForgotPassword" value="" disabled>
                        </div>
                        <div class="my-3"></div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="otpforlogin" placeholder="OTP"
                                pattern="^[0-9]{6}$" value="" required>
                        </div>
                        <div class="row text-danger m-0 p-0 ps-3" id="invalidOTPMsg">
                        </div>
                        <div class="mb-3"></div>
                        <button type="submit" class="btn btn-outline-danger btn-block btn-round">Continue</button>
                    </form>
                    <form class="d-none" id="changePasswordForm" action="user/login" novalidate>
                        <div class="form-outline mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="changepassword" name="password" class="form-control"
                                placeholder="Password" required />
                        </div>

                        <div class="form-outline mb-3">
                            <label class="form-label" for="repassword">Re enter Password</label>
                            <input type="password" id="changepasswordre" name="repassword" class="form-control"
                                placeholder="Password" required />
                        </div>

                        <p id="cprpmm" class="d-none text-danger small">Password mismatch</p>

                        <div class="mb-3"></div>
                        <button type="submit" class="btn btn-outline-danger btn-block btn-round">Submit</button>
                    </form>


                    <script>
                        const forgotPasswordForm = document.querySelector('#forgotPasswordForm');
                        const forgotPaswordOTPForm = document.querySelector('#forgotPaswordOTPForm');
                        const changePasswordForm = document.querySelector('#changePasswordForm')
                        const emailforOTPForgotPassword = document.querySelector('#emailforOTPForgotPassword')
                        const otpforlogin = document.querySelector('#otpforlogin')
                        var url = window.location.origin
                        const forgotPasswordMsg = document.querySelector('#forgotPasswordMsg')
                        const invalidOTPMsg = document.querySelector('#invalidOTPMsg')
                        forgotPasswordForm.addEventListener('submit', e => {
                            e.preventDefault();
                            let email = document.querySelector('#forgotPasswordEmail').value
                            if (!forgotPasswordForm.checkValidity()) {
                            } else {
                                $.ajax({
                                    url: `${url}/user/forgotpassword`,
                                    method: "POST",
                                    data: { email: email },
                                    success: res => {
                                        if (res) {
                                            forgotPasswordForm.classList.add('d-none')
                                            forgotPaswordOTPForm.classList.remove('d-none')
                                            emailforOTPForgotPassword.value = res
                                        } else {
                                            forgotPasswordMsg.innerHTML = "Email does not exist"
                                        }
                                    },
                                    error: err => {
                                        otpforlogin.value = ""
                                    }
                                })
                            }
                            forgotPasswordForm.classList.add('was-validated');
                        })


                        forgotPaswordOTPForm.addEventListener('submit', e => {
                            var otp = document.querySelector('#otpforlogin').value
                            e.preventDefault();
                            if (!forgotPaswordOTPForm.checkValidity()) {
                            } else {
                                $.ajax({
                                    url: `${url}/user/forgotpassword/verifyotp`,
                                    method: "POST",
                                    data: { email: emailforOTPForgotPassword.value, otp: otp },
                                    success: res => {
                                        if (res) {
                                            forgotPaswordOTPForm.classList.add('d-none')
                                            changePasswordForm.classList.remove('d-none')
                                        } else {
                                            invalidOTPMsg.innerHTML = "Invalid OTP"
                                        }
                                    },
                                    error: err => {
                                        console.log(err)
                                        alert(err.responseText)
                                    }
                                })
                            }
                            forgotPaswordOTPForm.classList.add('was-validated');
                        })

                        const cp = document.querySelector('#changepassword')
                        const cpr = document.querySelector('#changepasswordre')
                        const cprpmm = document.querySelector('#cprpmm')
                        cpr.addEventListener('keyup', e => {
                            if (cp.value !== cpr.value) {
                                e.preventDefault();
                                cprpmm.classList.remove('d-none')
                                cp.classList.add('error')
                                cpr.classList.add('error')
                            } else {
                                cprpmm.classList.add('d-none')
                                cp.classList.remove('error')
                                cpr.classList.remove('error')
                            }
                        })

                        changePasswordForm.addEventListener('submit', e => {
                            e.preventDefault();
                            if (!forgotPaswordOTPForm.checkValidity()) {
                            } else {
                                $.ajax({
                                    url: `${url}/user/changepassword`,
                                    method: "POST",
                                    data: { password: cp.value },
                                    success: res => {
                                        if (res) {
                                            window.location.reload()
                                        } else {
                                            console.log("Something wrong")
                                        }
                                    },
                                    error: err => {
                                        console.log(err)
                                        alert(err.responseText)
                                    }
                                })
                            }
                            changePasswordForm.classList.add('was-validated');
                        })
                    </script>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="small signup-section">Not a member yet? <a href="#" data-bs-toggle="modal"
                        data-bs-target="#signUpModal" class="text-danger"> Sign Up</a>.</div>
            </div>
        </div>
    </div>
</div>