<div class="modal-body">
  <div class="form-title text-center">
    <h4>Enter OTP</h4>
  </div>
  <div class="d-flex flex-column">
    {{!-- Form to enter OTP --}}
    <form class="d-none" id="otpForm" novalidate action="user/signup" method="POST">
      <div class="form-outline ">
        <label class="form-label" for="otpMail">Email</label>
        <input type="tel" id="otpMail" name="email" class="form-control" value="" disabled />
      </div>
      <div class="form-outline">
        <label class="form-label" for="otp">OTP</label>
        <input type="" id="otp" name="otp" class="form-control" pattern="^[0-9]{6}$" value="" required />
      </div>
      <div class="d-flex row  align-items-center">
        <div class="col-md-3 mt-3">
          <button type="submit" class="btn btn-outline-danger btn-block btn-round">Signup</button>
        </div>
      </div>
    </form>
    <div class="mt-3 col-md-7 small align-bottom float-right d-none" id="resendSec" style="font-size: 12px;">
      <button id="resendBtn" type="submit" style="font-size: 12px;" class="btn btn-link m-0 p-0"
        onclick="sendOtpReq()">Resend OTP</button>
      Remainig : <span id="resendTime">60</span> secs
    </div>
    <div class="row text-center" id="msg">
    </div>
    <script>

      const otpForm = document.querySelector('#otpForm');
      const otpMail = document.querySelector('#otpMail')
      const resendSec = document.querySelector('#resendSec')
      const resendBtn = document.querySelector('#resendBtn')
      const resendTime = document.querySelector('#resendTime')
      resendBtn.disabled = true
      var url = window.location.origin

      //Resend button
      function sendOtpReq() {
        startTimer()
        $.ajax({
          url: `${url}/user/resendotp`,
          method: "GET",
          success: res => {

          },
          error: err => {
            window.location.reload()
          }
        })
      }


      function startTimer() {
        resendBtn.disabled = true
        let timeLeft = 30
        let timerId = setInterval(countdown, 1000);
        function countdown() {
          if (timeLeft == -1) {
            clearTimeout(timerId);
            resendBtn.disabled = false
          } else {
            resendTime.innerHTML = timeLeft;
            timeLeft--;
          }
        }
      }

      function startCountDown() {
        resendSec.classList.remove('d-none')
        startTimer()
      }


      otpForm.addEventListener('submit', e => {
        var otp = document.querySelector('#otp').value
        var mail = otpMail.value
        e.preventDefault();
        if (!otpForm.checkValidity()) {
        } else {
          console.log(otp)
          $.ajax({
            url: `${url}/user/verifyotp`,
            method: "POST",
            data: { mail, otp },
            success: res => {
              alert(` Success`)
              window.location.reload()
            },
            error: err => {
              msg.innerHTML = '<p class="text-danger my-0">Invalid OTP<p>'
            }
          })
        }
        otpForm.classList.add('was-validated');
      })


    </script>
  </div>
</div>