<div class="hero">
    <div class=" owl-carousel">
        <div>
            <img class="image-fluid" style="height: 80vh; object-fit:cover" src="/images/hero-1.webp" alt="" srcset="">
        </div>
        <div> <img class="image-fluid" style="height: 80vh; object-fit:cover" src="/images/hero-2.webp" alt=""
                srcset=""></div>
    </div>

    <div class="hero-content left ">
        <h3>New Arrivals</h3>
        <h1 class="my-3">Corporis nulla <br> luxurious <strong>Home</strong></h1>
        <a class="btn border border-2 border-light text-light py-2 px-4 rounded-0" href="/shop" tabindex="-1">Shop
            Now</a>
    </div>
</div>

{{> individualProduct}}


<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayHoverPause: false,
            smartSpeed: 450,
            animateIn: 'fadeIn', 
            animateOut: 'fadeOut' 
        });
    });

    var url = window.location.origin
    function addtoCart(self) {
        const productId = $(self).attr('data-productId')
        $.ajax({
            url: `${url}/user/addtocart`,
            method: "POST",
            data: { productId: productId },
            success: res => {
                if (res == "Out of stock") {
                    Swal.fire({
                        icon: 'error',
                        title: 'Sorry...',
                        text: 'Product out of stock!',
                    })
                }
                if (res == "Product added to cart") {
                    Swal.fire({
                        icon: 'success',
                        text: 'Product added to cart!',
                    })
                }
            },
            error: err => {
                alert("Product didn't added to cart")
            }
        })
    }

    function addtowishlist(id) {
        console.log(url)
        $.ajax({
            url: `${url}/user/add/wishlist/${id}`,
            method: "GET"
        })
    }
</script>