@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --txt-pr: #292929;
    --txt-sc: #929292;
}

* {
    box-sizing: border-box;
}

.bg-gray-two {
    background-color: hsl(0, 0%, 96%);
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(255, 255, 255) !important;
}

.dropdown-menu.pull-right {
    left: auto !important;
    right: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--txt-pr);
}

footer p,
footer a {
    color: var(--txt-sc);
    font-size: 13px;
}

footer h4 {
    font-size: 16px;
    font-weight: 600;
}

footer img {
    width: 107px;
}

.error {
    outline: 2px solid red;
}

.hero {
    position: relative;
}

.hero-content {
    position: absolute;
    top: 20%;
    z-index: 2;
    color: white;
    padding-left: 10rem;
}

/* ------------------------------------------------------------- */
.single-grid-product {
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.single-grid-product .product-label span {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    top: 20px;
    left: 20px;
}

.single-grid-product .product-image {
    position: relative;
    margin-bottom: 20px;
}

.single-grid-product .product-image>a {
    display: block;
    width: 100%;
}

.single-grid-product .product-image>a img {
    width: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.single-grid-product .product-image>a img:nth-child(1) {
    visibility: visible;
    opacity: 1;
}

.single-grid-product .product-image>a img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.single-grid-product .product-image .product-action {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    padding: 5px 15px;
    -webkit-box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-right: -50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.single-grid-product .product-image .product-action .product-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 45px;
    color: #292929;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-right: 20px;
}

.single-grid-product .product-image .product-action .product-btn:hover {
    color: #ee3333;
}

.single-grid-product .product-image .product-action ul li {
    padding-right: 17px;
}

.add-to-wish {
    font-size: 18px;
    color: hsl(0, 0%, 16%);
}

.add-to-wish:hover {
    color: #ee3333;
}

.single-grid-product .product-image .product-action ul li:last-child {
    padding-right: 0;
}

.single-grid-product .product-category-rating .category a {
    font-weight: 400;
    line-height: 12px;
    color: #929292;
}

.single-grid-product .product-category-rating .category a:hover {
    color: #292929;
}

.single-grid-product .product-category-rating .rating {
    float: right;
    margin-top: -3px;
}

.single-grid-product .product-category-rating .rating i {
    font-size: 15px;
}

.single-grid-product .product-category-rating .rating i.active {
    color: #F5C60D;
}

.single-grid-product .title {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
}

.single-grid-product .title a {
    display: block;
}

.single-grid-product .title a:hover {
    color: #ee3333;
}

.single-grid-product p {
    font-family: "Karla", sans-serif;
}

.single-grid-product p .discounted-price,
.product-price {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-right: 10px;
    color: #e33;
}

.single-grid-product:hover .product-image>a img:nth-child(2) {
    visibility: visible;
    opacity: 1;
}

.single-grid-product:hover .product-image .product-action {
    visibility: visible;
    opacity: 1;
    bottom: 20px;
}

.single-grid-product.list-mode {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-bottom: 20px;
}

.single-grid-product.list-mode .list-mode-image {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
}

.single-grid-product.list-mode .list-mode-content {
    -ms-flex-preferred-size: calc(100% - 100px);
    flex-basis: calc(100% - 100px);
    padding-left: 20px;
}

.single-grid-product .product-countdown {
    width: 350px;
    max-width: 100%;
}

.single-grid-product .product-countdown .single-countdown {
    width: 25%;
}


/* ------------------------------------------------------------- */
/* Banner */
.page-banner-section {
    padding: 120px 0 130px;
    position: relative;
    z-index: 1;
    margin: auto;
    width: calc(100% - 90px);
    float: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .page-banner-section {
        padding: 100px 0 110px;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-banner-section {
        padding: 90px 0 100px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-banner-section {
        padding: 80px 0 90px;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .page-banner-section {
        padding: 70px 0 80px;
        width: 100%;
    }
}

/*-- Page Banner --*/
.page-banner h2 {
    font-size: 39px;
    font-weight: 500;
    text-transform: capitalize;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-banner h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 767px) {
    .page-banner h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .page-banner h2 {
        font-size: 26px;
    }
}

/*-- Page Breadcrumb --*/
.page-breadcrumb {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-breadcrumb li {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    margin-top: 10px;
    color: #ee3333;
}

.page-breadcrumb li::after {
    content: "/";
    margin: 0 6px;
    color: #929292;
}

.page-breadcrumb li:last-child::after {
    display: none;
}

.page-breadcrumb li a {
    color: #929292;
}

.page-breadcrumb li a:hover {
    color: #ee3333;
}

.product-description {
    line-height: 25px;
    color: #929292;
    margin-bottom: 30px;
}

.single-product-quantity {
    margin-bottom: 35px;
}

.single-product-quantity .product-quantity {
    background: #fff;
    border: 1px solid #ededed;
    float: left;
    margin-right: 15px;
    padding: 0 10px;
    border-radius: 0;
}

.single-product-quantity .product-quantity input {
    background: none;
    border: none;
    color: #292929;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
    line-height: 53px;
    padding: 0;
    width: 60px;
}

.single-product-quantity .btn {
    text-transform: uppercase;
}

.single-product-quantity .btn i {
    font-size: 20px;
    margin-right: 10px;
}

.turn-red:hover{
    background: #ee3333;
    border-color: #ee3333;
    color: #fff; 
}


.product-meta {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    padding: 15px 0;
    width: 100%;
}

.product-meta .posted-in {
    color: #292929;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    text-transform: uppercase;
}

.product-meta .posted-in > a {
    color: #292929;
    font-weight: 400;
    text-transform: none;
}